.guitar-suggestion-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16rem;
    height: auto;
    margin: 0.5rem;

    .guitar-suggestion-card__image{
        width: 10rem;
    }
}