.guitar-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 16rem;
    height: auto;
    padding: 0.5rem;
    margin:0.2rem;
    border: 1px black solid;
    box-shadow: 1px, 1px, 1px, 1px;
    min-height: 18rem;
    background-color: white;

    .guitar-card__image{
        width: 10rem;
        background-color: transparent;
    }

    .guitar-card__description{
        *{
            font-size: 1rem;
        }
    }
}

.guitar-card:hover{
    background-color: rgb(53, 53, 117);
}

.guitar-card__image{
        background-color: gray;
}

.guitar-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16rem;
    height: auto;
    padding: 0.5rem;
    margin:0.2rem;
    border: 1px black solid;
    box-shadow: 1px, 1px, 1px, 1px;
}