@use "../../styles/variables" as *;

.guitar-upload{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 16rem;
    height: auto;
    padding: 0.5rem;
    margin:0.3rem;
    border: 2px $primary-color solid;
    box-shadow: 0px 0px 6px 1px gray;
    min-height: 18rem;
    background-color: white;
    .guitar-upload__form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .guitar-upload__form-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 16rem;
    }

    .guitar-upload__form-label{
        margin: 0.2rem;
    }

    .guitar-upload__form-input{
        width: 12rem;
    }
}