.preview-comparison{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    .preview-comparison__title{
        margin-block: 1rem;
    }
    .preview-comparison__guitars-container{
        display: flex;
        justify-content: center;
    }
}