.your-guitars-section {
    width: 90vw;
  .your-guitars-section__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .your-guitars-section__title {
    text-align: left;
    margin-block: 1rem;
  }
}
