@use "../../styles/variables" as *;

.your-guitars-section {
    width: 90vw;
  .your-guitars-section__intro{
    margin-bottom: 1rem;
  }
  .your-guitars-section__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .your-guitars-section__title {
    text-align: left;
    margin-block: 0.7rem;
    color: $primary-color;
  }

  .your-guitars-section__user-key{
    margin: 0.5rem;
    margin-bottom: 0.8rem;
  }
}
