@use "../../styles/variables" as *;

.guitar-suggestions {
    width: 90vw;
  .guitar-suggestions__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .guitar-suggestions__title {
    text-align: left;
    margin-block: 1rem;
    color: $primary-color;
  }
}
