.nav{
    width: 100%;
    background-color: rgb(3, 3, 47);

    .nav__page-header{
        color: white;
        font-family: sans-serif;
        font-weight: 200;
        font-size: x-large;
    }
}