@use "../../styles/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

.nav{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $primary-color;
    height: 4rem;

    .nav__page-header{
        color: white;
        font-family: Jaldi;
        font-weight: bold;
        font-size: x-large;
        margin-left: 1rem;
    }
}