.nav{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(3, 3, 47);
    height: 4rem;

    .nav__page-header{
        color: white;
        font-family: sans-serif;
        font-weight: 400;
        font-size: x-large;
        margin-left: 1rem;
    }
}