@use "../../styles/variables" as *;

.nav{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $primary-color;
    height: 4rem;

    .nav__page-header{
        color: white;
        font-family: sans-serif;
        font-weight: bold;
        font-size: x-large;
        margin-left: 1rem;
    }
}